<div class="row">
    <div class="col-12">
        <button class="btn btn-sm btn-secondary" (click)="openBooking()">Create</button>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table style="width: 100%;">
            <tr>
                <td class="days" style="width: 4%;">Room</td>
                <td class="days" *ngFor="let room of roomsArray">
                    {{room.roomName}}
                </td>
            </tr>
            <tr *ngFor="let time of timeAr">
                <td class="days">
                    {{time.time}}
                </td>
                <td class="td-border" *ngFor="let room of roomsArray" [ngClass]="checkIfRoomBooked(room.id,time.timeId)?'bg-success':''">
                    
                </td>
            </tr>
        </table>
    </div>
</div>


<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Schedule Booking</h4>
          <button type="button" class="btn-close" (click)="closeBooking()" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <div class="row">
            <div class="col-6">
              <label for="">Select Room</label>
              <select  [(ngModel)]="bookingObj.roomId" id="">
                <option value="" *ngFor="let room of roomsArray" [value]="room.id">{{room.roomName}}</option>
              </select>
            </div>
            <div class="col-6">
              <label for="">Select Date</label>
              <input type="date" class="form-control" [(ngModel)]="bookingObj.bookingDate">
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <label for="">Select From</label>
              <select  [(ngModel)]="bookingObj.fromTimeId" id="">
                <option value="" *ngFor="let tm of timeAr" [value]="tm.timeId">{{tm.time}}</option>
              </select>
            </div>
            <div class="col-6">
              <label for="">Select To</label>
              <select  [(ngModel)]="bookingObj.toTimeId" id="">
                <option value="" *ngFor="let tm of timeAr" [value]="tm.timeId">{{tm.time}}</option>
              </select>
            </div>
          </div>




        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="saveBooking()" data-bs-dismiss="modal">Save</button>
          <button type="button" class="btn btn-danger" (click)="closeBooking()" data-bs-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>
  